<footer id="footer">
    <div class="inner">
        <ul class="icons">
            <li>
                <a href="https://www.facebook.com/TomorrowsTravelToday/" class="icon fa-facebook">
                    <span class="label">Facebook</span>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/tomorrowstraveltoday/" class="icon fa-instagram">
                    <span class="label">Instagram</span>
                </a>
            </li>
        </ul>
        <ul class="copyright">
            <li>&copy;
                <a href="mailto:tomorrowstraveltoday@gmail.com">Tomorrow's Travel Today.</a>
            </li>
            <li>Images:
                <a href="http://unsplash.com">Unsplash</a>.</li>
            <li>Design:
                <a href="http://templated.co">TEMPLATED</a>.</li>
        </ul>
        <ul class="copyright">
            <li>
                <img src="{{ '/images/financial.png' | relative_url }}" height="50px" width="50px" />
            </li>
            <li>
                <img src="{{ '/images/ttt.png' | relative_url }}" height="50px" width="100px" />
            </li>
        </ul>
    </div>
</footer>